<div class="container">
    <div class="card">
        <h3 class='center-align'>Finish up your profile</h3>
        <div class="card-content">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col m6 s12">
                            <input id="name" type="text" class="validate">
                            <label for="name" data-error="wrong" data-success="right">First Name</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <input id="last_name" type="text" class="validate">
                            <label for="last_name" data-error="wrong" data-success="right">Last Name</label>
                        </div>
                        <div class="file-field input-field col m6">
                            <div class="btn red accent-4">
                                <span>File</span>
                                <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                            <h5>Gender</h5>
                            <p>
                                <input name="group1" type="radio" id="male" />
                                <label for="male">male</label>
                            </p>
                            <p>
                                <input name="group1" type="radio" id="female" />
                                <label for="female">female</label>
                            </p>
                        </div>
                        <div class="col m6">
                            <img class='responsive-img align-center' src="http://placehold.it/200x200" alt="">
                        </div>
                        <br>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">What are you interests?</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <p class='col s3'>
                                <input type="checkbox" id='board-games'>
                                <label for="board-games"><i class="fa fa-lg fa-puzzle-piece"></i> Board Games</label>
                            </p>
                            <p class='col s3'>
                                <input type="checkbox" id='sports'>
                                <label for="sports"><i class="fa fa-lg fa-futbol-o"></i> Sports</label>
                            </p>
                            <p class='col s3'>
                                <input type="checkbox" id='video-games'>
                                <label for="video-games"><i class="fa fa-lg fa-gamepad"></i> Video Games</label>
                            </p>
                            <p class='col s3'>
                                <input type="checkbox" id='misc'>
                                <label for="misc"><i class="fa fa-lg fa-child"></i> Misc</label>
                            </p>
                        </div>
                        <br>
                    </div>
                    <div class="col m3">
                        <br>
                        <button class='btn red accent-4'>Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
