<div class="container">
    <div class="row">
        <div class="col s4 card">
            <h4 class='underline center-align grey-text text-lighten-1'>Filter</h4>
            <hr>
            <div class="input-field">
                <input type="text" id='filter'>
                <label for="filter">Search</label>
            </div>
            <h5 class="grey-text text-lighten-1">filter events by type</h5>
            <div class="row">
                <p class="col s12 m9 offset-m3">
                    <input type="checkbox" id="board-games" class="browser-default"/>
                    <label for="board-games"><i class="fa fa-puzzle-piece fa-lg"></i> Board Games</label>
                </p>
                <p class="col s12 m9 offset-m3">
                    <input type="checkbox" id="sports" class="browser-default"/>
                    <label for="sports"><i class="fa fa-futbol-o fa-lg"></i> Sports</label>
                </p>
            </div>
        </div>
    </div>
</div>
