<ul id="dropdown1" class="dropdown-content">
  <li><a href="/auth/facebook" class="">Facebook</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
  <li><a ng-click='$ctrl.logout()' class="">Logout</a></li>
</ul>


<nav class='#455a64  blue-grey darken-4'>
    <div class="nav-wrapper container">
        <a href="#" class='logo'>JeJoMi</a>
        <ul id="nav-mobile" class="right hide-on-sm-and-down">
            <li ng-show='$ctrl.user'><a ui-sref='home'>Home</a></li>
            <li><a ui-sref='events'>Events</a></li>
            <li><a ui-sref='about'>About</a></li>
            <li ng-hide='$ctrl.user'><a class='dropdown-button' dropdown data-activates='dropdown1'>Login/Sign Up <i class="fa fa-caret-down"></i></a></li>
            <li ng-show='$ctrl.user'><a class='dropdown-button' dropdown data-activates='dropdown2'> <i class="fa fa-bars"></i></a></li>
        </ul>
    </div>
</nav>
