
<div class="container">
  <div class="gray-text">
    <h3>About Us</h3>
  </div>
  <div class="row">
      <div class="col s4">
        <div class="card center-align">
          <img src="assets/jessicaProfilePic.jpg" class="circle responsive-img">
          <div class="card-content blue-grey lighten-2 white-text">
            <h4>Jessica Mitchell</h4>
            <h5>Designer</h5>
            <hr></hr>
              <p>I love to design content that makes an impact on people's lives. I'm a graduate of the University of North Texas and a Dallas local. I'm currently learning web developement, which is an exciting new phase in my ever evolving career.
              </p>
            </div>
            <div class="card-action amber darken-3">
              <a href='mailto:mitchelljessica0528@gmail.com?subject=Query&body=message sent from lan-seeker'><i class="material-icons white-text">email</i></a>
              <a href='https://github.com/jmitchell0528' target="_blank"><i class="fa fa-github fa-2x white-text"></i></a>
              <a href="https://www.linkedin.com/in/jessica-mitchell-3864b739/" target="_blank"><i class="fa fa-linkedin-square fa-2x white-text"></i></a>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="card center-align">
            <img src="assets/mikeProfilePic.jpg" class="circle responsive-img">
            <div class="card-content blue-grey lighten-2 white-text">
              <h4>Michael Gaudet</h4>
              <h5>Programmer</h5>
              <hr></hr>
                <p>Self modivated, goal oriented, Full Stack Developer. I've been Coding for about 4 years; building websites and tackling problems. As of writing this i am attending a Coding bootcamp to further my skills as a Developer. </p>
              </div>
              <div class="card-action amber darken-3">
                <a href='mailto:michael.g224@gmail.com?subject=Query&body=message sent from lan-seeker'><i class="material-icons white-text">email</i></a>
                <a href='https://github.com/mrgaud' target="_blank"><i class="fa fa-github fa-2x white-text"></i></a>
                <a href="https://www.linkedin.com/in/michael-gaudet-ab169077/" target="_blank"><i class="fa fa-linkedin-square fa-2x white-text"></i></a>
              </div>
            </div>
        </div>
        <div class="col s4">
          <div class="card center-align">
            <img src="assets/johnProfilePic.jpg" class="circle responsive-img">
              <div class="card-content blue-grey lighten-2 white-text">
                <h4>Jonathan Crook</h4>
                <h5>Database</h5>
                <hr></hr>
                <p>I am a highly driven, creative problem solver who fell in love with coding at a 12 week programming bootcamp. Gamer turned Code Monkey. I enjoy singing in the rain and sipping sauvignon blanc on my yacht.</p>
              </div>
              <div class="card-action amber darken-3">
                <a href="mailto:jonathanrcrook@gmail.com?subject=Query&body=message sent from lan-seeker"><i class="material-icons white-text">email</i></a>
                <a href="https://www.linkedin.com/in/jonathan-crook/" target="_blank"><i class="fa fa-github fa-2x white-text"></i></a>
                <a href="https://github.com/jonathanrcrook" target="_blank"><i class="fa fa-linkedin-square fa-2x white-text"></i></a>
              </div>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="gray-text">
          <h5>Our Mission</h5>
        </div>
        <p>We make stuff...Awesome stuff.</p>
      </div>
    </div>
