
<div class="container">
  <div class="blue-text">
    <h3>About Us</h3>
  </div>
  <div class="row">
      <div class="col s4">
        <div class="card center-align">
          <img src="assets/jessicaProfilePic.jpg" class="circle responsive-img">
          <div class="card-content blue white-text">
            <h4>Jessica Mitchell</h4>
            <h5>Designer</h5>
            <hr></hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque laoreet elit eu tortor semper, in blandit tortor rhoncus. Sed accumsan varius nisi faucibus porttitor. Proin blandit tellus mauris, sagittis facilisis metus tincidunt in.</p>
            </div>
            <div class="card-action blue">
              <a><i class="material-icons white-text">email</i></a>
              <a><i class="fa fa-github fa-2x white-text"></i></a>
              <a><i class="fa fa-linkedin-square fa-2x white-text"></i></a>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="card center-align">
            <img src="assets/mikeProfilePic.jpg" class="circle responsive-img">
            <div class="card-content blue white-text">
              <h4>Michael Gaudet</h4>
              <h5>Programmer</h5>
              <hr></hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque laoreet elit eu tortor semper, in blandit tortor rhoncus. Sed accumsan varius nisi faucibus porttitor. Proin blandit tellus mauris, sagittis facilisis metus tincidunt in.</p>
              </div>
              <div class="card-action blue">
                <a><i class="material-icons white-text">email</i></a>
                <a><i class="fa fa-github fa-2x white-text"></i></a>
                <a><i class="fa fa-linkedin-square fa-2x white-text"></i></a>
              </div>
            </div>
        </div>
        <div class="col s4">
          <div class="card center-align">
            <img src="assets/johnProfilePic.jpg" class="circle responsive-img">
              <div class="card-content blue white-text">
                <h4>Jonathan Crook</h4>
                <h5>Database</h5>
                <hr></hr>
                <p>I am a highly driven, creative problem solver who fell in love with coding at a 12 week programming bootcamp. Video Gamer turned Code Monkey, I enjoy long walks on the beach and sipping sauvignon blanc on my yacht.</p>
              </div>
              <div class="card-action blue">
                <a><i class="material-icons white-text">email</i></a>
                <a><i class="fa fa-github fa-2x white-text"></i></a>
                <a><i class="fa fa-linkedin-square fa-2x white-text"></i></a>
              </div>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="blue-text">
          <h5>Our Mission</h5>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque laoreet elit eu tortor semper, in blandit tortor rhoncus. Sed accumsan varius nisi faucibus porttitor. Proin blandit tellus mauris, sagittis facilisis metus tincidunt in. Morbi vitae ornare nisl, id pharetra turpis. Morbi sit amet facilisis diam, id cursus eros. Duis tincidunt placerat dui et convallis. Nullam nunc mauris, convallis sit amet dolor quis, semper molestie tellus. Proin porttitor vehicula arcu, vitae vestibulum libero auctor ac. Phasellus suscipit massa at congue mattis. Aenean cursus fringilla eleifend. Integer vitae magna et tellus congue molestie. Donec iaculis, nisl eget aliquet volutpat, turpis enim dignissim erat, vitae tincidunt nisi lacus eu eros.</p>
      </div>
    </div>
