
<div class="container">
  <h2>About Us</h2>
  <div class="row">
      <div class="col s4">
        <div class="card center-align">
          <img src="http://placehold.it/180x180" class="circle responsive-img">
            <div class="card-content blue">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action blue">
              <a>This is a link</a>
            </div>
          </div>
        </div>
        <div class="col s4">
          <div class="card center-align">
            <img src="http://placehold.it/180x180" class="circle responsive-img">
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a>This is a link</a>
              </div>
            </div>
        </div>
        <div class="col s4">
          <div class="card center-align">
            <img src="http://placehold.it/180x180" class="circle responsive-img">
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a>This is a link</a>
              </div>
            </div>
        </div>
      </div>
    </div>
