<div class="container">

    <!-- ///////////////////////////////////////////// -->
    <!-- ////// News feed and events section //////////// -->
    <!-- //////////////////////////////////////////// -->


    <!-- ///////////////////////////////////////////// -->
    <!-- ////// Upcomming events section //////////// -->
    <!-- //////////////////////////////////////////// -->
    <div class="row">
        <div class="col m4">
            <div class="card">
                <div class="card-content">
                    <h5 class="card-title">Filter Events</h5>
                    <div class="input-field">
                        <input id='filter' type="text" class="" ng-model='searchText'>
                        <label for="filter">Filter</label>
                    </div>
                    {{filters}}
                    <p>
                        <input type="checkbox" id="sports" ng-model='sports' ng-true-value='"sports"' ng-false-value='""'/>
                        <label for="sports"><i class="fa fa-futbol-o"></i> Sports</label>
                    </p>
                    <p>
                        <input type="checkbox" id="videoGames" ng-model='videoGames' ng-true-value='"video"' ng-false-value='""'/>
                        <label for="videoGames"><i class="fa fa-gamepad"></i> Video Games</label>
                    </p>
                    <p>
                        <input type="checkbox" id="boardGames" ng-model='boardGames' ng-true-value='"board"' ng-false-value='""'/>
                        <label for="boardGames"><i class="fa fa-puzzle-piece"></i> Board Games</label>
                    </p>
                    <p>
                        <input type="checkbox" id="misc" ng-model='filters["misc"]' ng-true-value='"misc"' ng-false-value='""'/>
                        <label for="misc"><i class="fa fa-child"></i> Misc</label>
                    </p>
                </div>
            </div>
        </div>
        <div class="col m8">
            <div class="card">
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a ng-click="currentTab = 'upcomingEvents'">Upcomming Events</a></li>
                        <li class="tab" ng-show='user'><a ng-click="currentTab = 'myEvents'">My Events</a></li>
                    </ul>
                </div>

                <div class="grey lighten-4">
                    <div ng-show="currentTab === 'upcomingEvents' || currentTab ===  undefined">
                        <ul class="collection">
                            <li class="collection-item avatar" ng-repeat='event in currentEvents | filter:searchText '>
                                <i ng-show='event.event_types.includes("sport")' class="fa fa-futbol-o circle blue"></i>
                                <i ng-show='event.event_types.includes("misc")' class="fa fa-child circle green"></i>
                                <i ng-show='event.event_types.includes("video")' class="fa fa-gamepad circle purple"></i>
                                <i ng-show='event.event_types.includes("board")' class="fa fa-puzzle-piece circle red"></i>
                                <span class="title"><!--event name -->{{event.event_name}}</span>
                                <p>
                                    <!-- event date-->{{event.event_date}}<br>
                                    <!-- event location -->{{event.location.split('&').pop()}}
                                </p>

                                <a class="btn waves-effect waves-light orange secondary-content" data-target="{{event.id}}">Details</a>
                                <div id="{{event.id}}" class="modal">
                                    <div class="modal-content">
                                        <h4><!-- event name -->{{event.event_name}}</h4>
                                        <p>
                                            <!-- event date -->{{event.event_date}}</p>
                                        <p>
                                            <!-- event location -->{{event.location.split('&').pop()}}
                                        </p>
                                        <br></br>
                                        <p>
                                            <!-- event Description -->{{event.description}}
                                        </p>
                                        <br></br>
                                        <div>
                                            <img src="{{event.photo}}">
                                            <br>
                                            <a class="btn orange" ng-click='rsvp(user.email, event.id)'>RSVP</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div ng-show="currentTab === 'myEvents'">
                        <ul class="collection">
                            <li class="collection-item avatar" ng-repeat='event in user.events'>
                                <i class="material-icons circle green">today</i>
                                <span class="title"><!--event name -->{{event.event_name}}</span>
                                <p>
                                    <!-- event date-->{{event.event_date}}<br>
                                    <!-- event location -->
                                </p>

                                <a class="btn waves-effect waves-light orange secondary-content" data-target="modal2">Details</a>
                                <div id="modal2" class="modal">
                                    <div class="modal-content">
                                        <h4><!-- event name -->{{event.event_name}}</h4>
                                        <p>
                                            <!-- event date -->{{event.event_date}}</p>
                                        <p>
                                            <!-- event location -->{{event.location.split('&').join(', ')}}
                                        </p>
                                        <br></br>
                                        <p>
                                            <!-- event Description -->{{event.description}}
                                        </p>
                                        <button>hello world</button>
                                        <br></br>
                                        <div>
                                            <img src="{{event.photo}}">
                                            <br></br>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
