<div class="row" style="
    background:url(https://arlingtonvoice.com/sites/default/files/reports/2017/Feb/06/water-17.jpg);
    background-size:cover;
">
    <div class='col s4'>
        <img src="https://www.takemefishing.org/tmf/assets/images/fish/american-shad-464x170.png" class='responsive-img' alt="">
    </div>
    <div class='col s4'>
        <img src="https://www.takemefishing.org/tmf/assets/images/fish/american-shad-464x170.png" class='responsive-img' alt="">
    </div>
    <div class='col s4'>
        <img src="https://www.takemefishing.org/tmf/assets/images/fish/american-shad-464x170.png" class='responsive-img' alt="">
    </div>
    <div class='col s4'>
        <img src="https://www.takemefishing.org/tmf/assets/images/fish/american-shad-464x170.png" class='responsive-img' alt="">
    </div>
    <div class='col s4'>
        <img src="https://www.takemefishing.org/tmf/assets/images/fish/american-shad-464x170.png" class='responsive-img' alt="">
    </div>
    <div class='col s4'>
        <img src="https://www.takemefishing.org/tmf/assets/images/fish/american-shad-464x170.png" class='responsive-img' alt="">
    </div>
    <div class='col s4'>
        <img src="https://www.takemefishing.org/tmf/assets/images/fish/american-shad-464x170.png" class='responsive-img' alt="">
    </div>
    <div class='col s4'>
        <img src="https://www.takemefishing.org/tmf/assets/images/fish/american-shad-464x170.png" class='responsive-img' alt="">
    </div>
    <div class='col s4'>
        <img src="https://www.takemefishing.org/tmf/assets/images/fish/american-shad-464x170.png" class='responsive-img' alt="">
    </div>
    <div class='col s4'>
        <img src="https://www.takemefishing.org/tmf/assets/images/fish/american-shad-464x170.png" class='responsive-img' alt="">
    </div>
    <div class='col s4'>
        <img src="https://www.takemefishing.org/tmf/assets/images/fish/american-shad-464x170.png" class='responsive-img' alt="">
    </div>
    <div class='col s4'>
        <img src="https://www.takemefishing.org/tmf/assets/images/fish/american-shad-464x170.png" class='responsive-img' alt="">
    </div>
    <div class='col s4'>
        <img src="https://www.takemefishing.org/tmf/assets/images/fish/american-shad-464x170.png" class='responsive-img' alt="">
    </div>
    <div class='col s4'>
        <img src="https://www.takemefishing.org/tmf/assets/images/fish/american-shad-464x170.png" class='responsive-img' alt="">
    </div>
    <div class='col s4'>
        <img src="https://www.takemefishing.org/tmf/assets/images/fish/american-shad-464x170.png" class='responsive-img' alt="">
    </div>
    <div class='col s4'>
        <img src="https://www.takemefishing.org/tmf/assets/images/fish/american-shad-464x170.png" class='responsive-img' alt="">
    </div>
    <div class='col s4'>
        <img src="https://www.takemefishing.org/tmf/assets/images/fish/american-shad-464x170.png" class='responsive-img' alt="">
    </div>
    <div class='col s4'>
        <img src="https://www.takemefishing.org/tmf/assets/images/fish/american-shad-464x170.png" class='responsive-img' alt="">
    </div>
    <div class='col s4'>
        <img src="https://www.takemefishing.org/tmf/assets/images/fish/american-shad-464x170.png" class='responsive-img' alt="">
    </div>
    <div class='col s4'>
        <img src="https://www.takemefishing.org/tmf/assets/images/fish/american-shad-464x170.png" class='responsive-img' alt="">
    </div>
    <div class='col s4'>
        <img src="https://www.takemefishing.org/tmf/assets/images/fish/american-shad-464x170.png" class='responsive-img' alt="">
    </div>
</div>
