<div class="container">

    <!-- ///////////////////////////////////////////// -->
    <!-- ////// Profile Header! //////////// -->
    <!-- //////////////////////////////////////////// -->
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-panel blue">
                    <span class="card-title white-text">Welcome back {{user.first_name}} {{user.last_name}} <i class="fa {{'fa-'+user.gender}}"></i></span>
                    <div class="col m2 s4 ">
                        <img ng-hide='user.photo' src="http://placehold.it/180x180" alt="" class="circle responsive-img">
                        <img ng-show='user.photo' ng-src="{{user.photo}}" alt="" style='max-height:180px;border-radius:5px' class="responsive-img z-depth-5">
                    </div>
                </div>
                <div class="card-content ">
                    <p class='flow-text'>{{user.interests}}</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col s4">
            <div class="col s12">

                <!-- ///////////////////////////////////////////// -->
                <!-- ////// Events Hosted Box! //////////// -->
                <!-- //////////////////////////////////////////// -->

                <div class="card-panel orange center-align">
                    <span class="white-text">{{user.hostedEvents.length}} Events Hosted</span>
                </div>

                <!-- ///////////////////////////////////////////// -->
                <!-- ////// User Navigation Box! //////////// -->
                <!-- //////////////////////////////////////////// -->

                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><span class="badge">{{user.events.length || 0}}</span><i class="material-icons">settings_power</i>Events</div>
                        <div class="collapsible-body center-align"><span><a
                      data-target='createEvent' class="waves-effect waves-light orange btn">Create Event</a></span></div>
                    </li>
                    <!-- ////////////////////////// -->
                    <!-- ////// event modal /////// -->
                    <!-- ////////////////////////// -->
                    <event-modal upload='upload(id)' create-event='createEvent(title, desc, type, street, zip, city, user, date)' user='user'></event-modal>


                    <li>
                        <div class="collapsible-header"><span class="badge">{{user.friends.length || 0}}</span><i class="material-icons">supervisor_account</i>Friends</div>
                        <div class="collapsible-body center-align"><span><a class="waves-effect waves-light orange btn" data-target='addFriends'>View Friends</a></span></div>
                    </li>

                    <div id="addFriends" class="modal">
                        <div class="modal-content">
                            <h4>Friends</h4>
                            <ul class="collection">
                                <li class="collection-item avatar">
                                    <img src="assets/Lucia_(PSN_Avatar)_DMC2_(1).png" alt="" class="circle">
                                    <p>Friend Name Here</p>
                                    <a href="" class="secondary-content waves-effect waves-light orange btn">Remove</a>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <li>
                        <div class="collapsible-header"><span class="new badge red accent-4">{{user.newMessages.length || 0}}</span><i class="material-icons">email</i>Messages</div>
                        <div class="collapsible-body center-align"><span><a class="waves-effect waves-light orange btn" ui-sref='messages'>View Messages</a></span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><span class="badge">{{users.photos || 0}}</span><i class="material-icons">perm_identity</i>Photos</div>
                        <div class="collapsible-body center-align"><span><a class="waves-effect waves-light orange btn" ui-sref='user_photos'>View Photos</a></span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">settings</i>Edit Profile</div>
                        <div class="collapsible-body center-align"><span><a class="waves-effect waves-light orange btn" ui-sref='edit_profile'>Edit Profile</a></span></div>
                    </li>
                </ul>

                <!-- ///////////////////////////////////////////// -->
                <!-- ////// Upcomming Events //////////// -->
                <!-- //////////////////////////////////////////// -->

                <ul class="collection with-header">
                    <li class="collection-header">
                        <h5>Upcomming Events</h5></li>
                    <li class="collection-item" ng-repeat='event in user.events track by $index'><p>"{{event.event_name}}"</p> <p>{{event.event_date}}</p></li>
                </ul>
            </div>
        </div>

        <!-- ///////////////////////////////////////////// -->
        <!-- ////// News feed and events section //////////// -->
        <!-- //////////////////////////////////////////// -->

        <div class="col s8">
            <div class="col s12">
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a ng-click="currentTab = 'newsFeed'">New Events</a></li>
                        <li class="tab"><a ng-click="currentTab = 'recentEvents'">Events</a></li>
                    </ul>
                </div>
                <div class="card">
                    <div class="card-content grey lighten-4">
                        <div ng-show="currentTab === 'recentEvents'">


                            <ul class="collection">
                                <li class="collection-item avatar" ng-repeat='event in user.events'>
                                    <i class="fa fa-child circle green" ng-show='event.event_types.includes("misc")'></i>
                                    <i class="fa fa-futbol-o circle blue" ng-show='event.event_types.includes("sport")'></i>
                                    <i class="fa fa-gamepad circle purple" ng-show='event.event_types.includes("video")'></i>
                                    <i class="fa fa-puzzle-piece circle red" ng-show='event.event_types.includes("misc")'></i>
                                    <span class="title">{{event.event_name}}</span>
                                    <p>{{event.event_date}} <br> {{event.location.split('&').pop()}}
                                    </p>

                                    <a class="btn waves-effect waves-light orange secondary-content" data-target="{{event.id}}">Details</a>
                                    <div id="{{event.id}}" class="modal">
                                        <div class="modal-content">
                                            <h4>{{event.event_name}}</h4>
                                            <p>{{event.event_date}}</p>
                                            <p>{{event.location.split('&').pop()}}</p>
                                            <br></br>
                                            <p>
                                                {{event.description}}
                                            </p>
                                            <br></br>
                                            <div>
                                                <img src="assets/google-maps-new-interface-small.png">
                                                <br></br>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div ng-show="currentTab === 'newsFeed' || currentTab ===  undefined">

                            <div class="card-panel grey lighten-5 z-depth-1" ng-repeat='event in events'>
                                <a>
                                    <div class=''>
                                        <div class="row">
                                            <div class="col s2">
                                                <img ng-src='{{event.photo}}' class=" responsive-img" onerror="this.src='http://fazer.ucam-campos.br/repositorio/img/icons/fa-users.png'">
                                            </div>
                                            <div class="col s10">
                                                <div class="black-text">
                                                    <h5>{{event.event_name}}</h5>
                                                    <h6>Posted - {{event.created_at}}</h6>
                                                    <p>Event Date - {{event.event_date}}</p>
                                                    <p>Location - {{event.location.split('&').pop()}}</p>
                                                </div>
                                                <div class="card-action"><a>details</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <profile />
</div>
