<div class="container">
    <!-- ///////////////////////////////////////////// -->
    <!-- ////// Profile Header! //////////// -->
    <!-- //////////////////////////////////////////// -->
    <div class="row">
        <div class="col s12">
            <div class="card blue-grey lighten-2 white-text">
                <!-- <div class="card-panel grey lighten-3"> -->
                    <!-- <span class="card-title dimgrey-text">Welcome back</span> -->
                    <div class="col m2 s4 ">
                        <img ng-hide='user.photo' src="http://placehold.it/180x180" alt="" class="circle responsive-img">
                        <img ng-show='user.photo' ng-src="{{user.photo}}" alt="" style='max-height:180px;border-radius:5px' class="responsive-img z-depth-5">
                    </div>
                <!-- </div> -->
                <div class="card-content">
                  <p class="flow-text"> {{user.first_name}} {{user.last_name}} </p>
                    <span><i class="fa {{'fa-'+user.gender}}"></i> {{user.interests}} </span>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col s4">
            <div class="col s12">

                <!-- ///////////////////////////////////////////// -->
                <!-- ////// Events Hosted Box! //////////// -->
                <!-- //////////////////////////////////////////// -->

                <div class="card-panel orange center-align">
                    <span class="white-text">{{user.hostedEvents.length || 'no'}} Events Hosted</span>
                </div>

                <!-- ///////////////////////////////////////////// -->
                <!-- ////// User Navigation Box! //////////// -->
                <!-- //////////////////////////////////////////// -->

                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header grey lighten-5"><span class="badge">{{user.events.length || 0}}</span><i class="material-icons">settings_power</i>Events</div>
                        <div class="collapsible-body center-align"><span><a
                      data-target='createEvent' class="waves-effect waves-light orange btn">Create Event</a></span></div>
                    </li>
                    <!-- ////////////////////////// -->
                    <!-- ////// event modal /////// -->
                    <!-- ////////////////////////// -->
                    <event-modal upload='upload(id)' create-event='createEvent(title, desc, type, street, zip, city, user, date)' user='user'></event-modal>


                    <li>
                        <div class="collapsible-header grey lighten-5"><span class="badge">{{user.friends.length || 0}}</span><span ng-show='user.newFriends.length>0' class="new badge red accent-4">{{user.newFriends.length}}</span><i class="material-icons">supervisor_account</i>Friends</div>
                        <div class="collapsible-body">
                          <ul class="collection">
                            <li class="collection-item" ng-repeat='friend in user.friends'>
                                <!-- <img ng-src="{{friend.photo}}" alt="" class="responsive-img circle"> -->
                                <a ui-sref='user({id:friend.id})'> {{friend.first_name.toUpperCase()}} {{friend.last_name.toUpperCase()}} </a>
                                <div class="secondary-content">
                                  <a href=""><i class="fa fa-envelope fa-1x orange-text"></i></a>
                                  &nbsp&nbsp&nbsp&nbsp&nbsp
                                  <a href=""><i class="fa fa-times-circle fa-1x red-text"></i></a>
                                </div>
                            </li>
                          </ul>
                          <!-- <span><a class="waves-effect waves-light orange btn" data-target='addFriends'>View Friends</a></span> -->
                        </div>

                    </li>

                    <div id="addFriends" class="modal">
                        <div class="modal-content">
                            <h4>Friends</h4>
                            <ul class="collection">
                                <li class="collection-item avatar" ng-repeat='friend in user.friends'>
                                    <img ng-src="{{friend.photo}}" alt="" class="responsive-img circle" onerror="this.src='https://cdn3.iconfinder.com/data/icons/black-easy/512/535106-user_512x512.png'">
                                    <a ui-sref='user({id:friend.id})'>
                                        <p>{{friend.first_name.toUpperCase()}} {{friend.last_name.toUpperCase()}}</p>
                                    </a>
                                    <div class="right-align">
                                      <a href=""><i class="fa fa-envelope fa-2x"></i></a>
                                      <a href=""><i class="fa fa-times-circle fa-2x red-text"></i></a>
                                    </div>
                                </li>
                                <li class="collection-item avatar" ng-repeat='friend in user.newFriends'>
                                    <img ng-src="{{friend.photo}}" class='responsive-img circle' alt="" onerror="this.src='http://workshop.barcelona.pm/barcelona2016/img/default-avatar.png'">
                                    <a ui-sref='user({id:friend.id})'>
                                        <p>{{ friend.first_name.toUpperCase() }} {{ friend.last_name.toUpperCase() }}</p>
                                    </a>
                                    <div class="secondary-content">
                                        <a href="" class="btn green" ng-click='acceptFriend(friend.inviter, friend.invited)'>accept</a>
                                        <a href="" class="btn red" ng-click='declineFriend(friend.inviter,friend.invited)'>decline</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <li ng-show='user.messages.length>0'>
                        <div class="collapsible-header grey lighten-5"><span class="new badge red accent-4" ng-show='user.newMessages.length>0'>{{user.newMessages.length || 0}}</span><i class="material-icons">email</i>Messages</div>
                        <div class="collapsible-body center-align"><span><a class="waves-effect waves-light orange btn" ui-sref='messages'>View Messages</a></span></div>
                    </li>
                    <!-- <li>
                        <div class="collapsible-header"><span class="badge">{{users.photos || 0}}</span><i class="material-icons">perm_identity</i>Photos</div>
                        <div class="collapsible-body center-align"><span><a class="waves-effect waves-light orange btn" ui-sref='user_photos'>View Photos</a></span></div>
                    </li> -->
                    <li>
                        <div class="collapsible-header grey lighten-5"><i class="material-icons">settings</i>Edit Profile</div>
                        <div class="collapsible-body center-align"><span><a class="waves-effect waves-light orange btn" ui-sref='edit_profile'>Edit Profile</a></span></div>
                    </li>
                </ul>

                <!-- ///////////////////////////////////////////// -->
                <!-- ////// Upcomming Events //////////// -->
                <!-- //////////////////////////////////////////// -->

                <ul class="collection with-header">
                    <li class="collection-header blue-grey lighten-2 white-text">
                        <h5>Upcomming Events</h5></li>
                    <!-- <li class="collection-item" ng-repeat='event in user.events track by $index'>
                        <span class="title">"{{event.event_name}}"</span>
                        <p>{{event.event_date}}</p> -->
                    <li class="collection-item avatar grey lighten-5" ng-repeat='event in user.events track by $index'>
                        <i class="fa fa-child circle green" ng-show='event.event_types.includes("misc")'></i>
                        <i class="fa fa-futbol-o circle blue" ng-show='event.event_types.includes("sport")'></i>
                        <i class="fa fa-gamepad circle purple" ng-show='event.event_types.includes("video")'></i>
                        <i class="fa fa-puzzle-piece circle red" ng-show='event.event_types.includes("misc")'></i>
                        <span class="title">{{event.event_name}}</span>
                        <p>{{event.event_date}}</p>
                    </li>
                </ul>
            </div>
        </div>

        <!-- ///////////////////////////////////////////// -->
        <!-- ////// News feed and events section //////////// -->
        <!-- //////////////////////////////////////////// -->

        <div class="col s8">
            <div class="col s12">
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width grey lighten-5">
                        <li class="tab"><a ng-click="currentTab = 'newsFeed'">All Events</a></li>
                        <li class="tab"><a ng-click="currentTab = 'recentEvents'">Hosting Events</a></li>
                    </ul>
                </div>
                <div class="card">
                    <div class="card-content grey lighten-5">
                        <div ng-show="currentTab === 'recentEvents'">


                            <ul class="collection">
                                <li class="collection-item avatar" ng-repeat='event in user.events'ng-show='event.created_by === user.email'>
                                    <div >
                                        <i class="fa fa-child circle green" ng-show='event.event_types.includes("misc")'></i>
                                        <i class="fa fa-futbol-o circle blue" ng-show='event.event_types.includes("sport")'></i>
                                        <i class="fa fa-gamepad circle purple" ng-show='event.event_types.includes("video")'></i>
                                        <i class="fa fa-puzzle-piece circle red" ng-show='event.event_types.includes("misc")'></i>
                                        <span class="title">{{event.event_name}}</span>
                                        <p>{{event.event_date}} <br> {{event.location.split('&').pop()}}
                                        </p>

                                        <a class="waves-effect waves-light btn-flat orange-text secondary-content" data-target="{{event.id}}">Details</a>
                                        <div id="{{event.id}}" class="modal">
                                            <div class="modal-content">
                                                <h4>{{event.event_name}}</h4>
                                                <p>{{event.event_date}}</p>
                                                <p>{{event.location.replace('&', ', ').replace('&', ', ')}}</p>
                                                <br></br>
                                                <p>
                                                    {{event.description}}
                                                </p>
                                                <br></br>
                                                <div>
                                                    <img ng-src="{{event.photo}}">
                                                    <br></br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div ng-show="currentTab === 'newsFeed' || currentTab ===  undefined">

                            <div class="card-panel grey lighten-5 z-depth-1" ng-repeat='event in events'>
                                <a>
                                    <div class="modal-contain">
                                        <div class="row">
                                            <div class="col s2">
                                                <img ng-src='{{event.photo}}' class=" responsive-img" onerror="this.src='http://fazer.ucam-campos.br/repositorio/img/icons/fa-users.png'">
                                            </div>
                                            <div class="col s8">
                                              <div class="valign-wrapper">
                                                <div class="black-text">
                                                    <h5>{{event.event_name}}</h5>
                                                    <h6>Posted - {{event.created_at}}</h6>
                                                    <p>Event Date - {{event.event_date}}</p>
                                                    <p>Location - {{event.location.split('&').pop()}}</p>
                                                </div>
                                                <div class="col s2"><a data-target='{{event.event_name}}' class="waves-effect waves-light btn-flat orange-text">Details</a></div>
                                                <div id="{{event.event_name}}" class="modal">
                                                    <div class="modal-content">
                                                        <h4>{{event.event_name}}</h4>
                                                        <p>Location - {{event.location.split('&').pop()}}</p>
                                                        <p>Date - {{event.event_date}}</p>
                                                        <br>
                                                        <p>{{event.description}}</p>
                                                        <br>
                                                        <img ng-src="{{event.photo}}" alt="">
                                                      <div class="row">
                                                        <div class="col s2 offset-s10">
                                                          <a class='btn orange' ng-click='rsvp(user.email, event.id, event.event_name)'>Rsvp</a>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <profile />
</div>
