<!-- <div class="container"> -->
    <!-- <div class="row">

            <div class="card large">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="assets/google-maps-new-interface1.jpg">
                </div>
                <div class="card-content center-align">
                    <a href='/auth/facebook' class="btn btn-lg blue">Login with Facebook to get started</a>
                </div>
            </div>

    </div> -->

    <!-- <div class="row">
        <div class="col s6">
            <h3>News</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mattis ac nisi egestas molestie. Nunc sed convallis purus, nec consequat turpis. Suspendisse venenatis mollis dui eu mattis. Vestibulum sed sodales quam.</p>
        </div>
        <div class="col s6">
            <h3>Media</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mattis ac nisi egestas molestie. Nunc sed convallis purus, nec consequat turpis. Suspendisse venenatis mollis dui eu mattis. Vestibulum sed sodales quam.</p>
        </div>
    </div> -->
<!-- </div> -->

    <div class="landing-header row white-text">
      <div class="card">
        <div class="card-image">
          <img src="assets/stadium-and-events-management-blue.jpg" class="responsive-img">
          <h2 class="header-text">Share the Memories</h2>
          <div class="header-subtext">
            <p>Find events in your local area, make friends, and create lasting memories.</p>
          </div>
        </div>
      </div>
      <div class="center-align">
        <h5>Sign in to get started with an event</h5>
        <br>
      </div>
        <div class="row center-align">
          <a href='/auth/facebook' class="btn btn-lg teal">Login with Facebook to get started</a>
        </div>
    </div>
