<!-- <div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-panel blue-grey ">
                    <span class="card-title white-text"> {{user.first_name}} Your Messages {{user.last_name}} <i class="fa {{'fa-'+user.gender}}"></i></span>
                    <div class="col s2 well">
                        <img ng-hide='user.photo' src="http://placehold.it/180x180" alt="" class="circle responsive-img">
                        <img ng-show='user.photo' ng-src="{{user.photo}}" alt="" style='max-height:180px;border-radius:5px' class="card responsive-img z-depth-5">
                    </div>
                </div>
                <div class="card-content">
                    <p class='flow-text'>{{user.interests}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m4">
            <ul class="collection">
                <li class="collection-item avatar" ng-repeat='messenger in user.messenger'ng-click='select(messenger.email)'>
                        <img ng-src="{{messenger.photo}}" alt="" class="circle">
                        <h5 class="">{{messenger.first_name}} {{messenger.last_name}}</h5>
                        <p>First Line <br> Second Line</p>
                </li>
            </ul>
        </div>
        <div class="">
            <div class="col m8 card">
                <div class="row">
                    <div ng-repeat='message in user.messages | filter:selected' class="col m12">
                        <div  ng-show='message.senders_email === user.email'>
                            <div class="">
                                <h5 class="messagePadding">{{user.first_name}} {{user.last_name}}</h5>
                                <p class="messagePadding">{{message.message}}</p>
                                <cite class='grey-text text-lighten-1 messagePadding'>{{message.created_at}}</cite>


                            </div>
                        </div>
                        <div ng-show='message.senders_email !== user.email'>
                            <div class="right">
                                <h5 class="messagePadding">{{message.first_name}} {{message.last_name}}</h5>
                                <p class="messagePadding">{{message.message}}</p>
                                <cite class='grey-text text-lighten-1 messagePadding'>{{message.created_at}}</cite>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="container">

  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title white-text">Message</span>

            <div class="row">
              <div class="col s3">
                <div class="row">
                  <ul class="collection">
                    <li class="collection-item avatar">
                      <img src="assets/Lucia_(PSN_Avatar)_DMC2_(1).png" alt="" class="circle responsive-img">
                      <span class="title">Baby_Cakes_1</span>
                    </li>
                    <li class="collection-item avatar">
                      <img src="assets/Lucia_(PSN_Avatar)_DMC2_(1).png" alt="" class="circle responsive-img">
                      <span class="title">Baby_Cakes_2</span>
                    </li>
                    <li class="collection-item avatar">
                      <img src="assets/Lucia_(PSN_Avatar)_DMC2_(1).png" alt="" class="circle responsive-img">
                      <span class="title">Baby_Cakes_3</span>
                    </li>
                  </ul>
                </div>
              </div>


            <div class="col s9">
              <div class="message-chip">
                <div class="chip">
                  <img src="assets/Lucia_(PSN_Avatar)_DMC2_(1).png" alt="Contact Person">
                  You always waiting for a party gurl. Slow down. LOL
                </div>
                <br>
                  <cite>Date and time</cite>
              </div>

            <!-- USER'S BOX -->
              <div class="message-chip right-align">
                <div class="chip">
                  <img src="assets/Lucia_(PSN_Avatar)_DMC2_(1).png" alt="Contact Person">
                  Just hanging out waiting for the party
                </div>
                <br>
                  <cite>Date and time</cite>
              </div>

                    <div class="">
                      <div class="row">
                      <input type="text" placeholder="Type your message here" name="" value="">
                  </div>
                </div>


                <div class="row">
                  <div class="col s12 right-align">
                    <a class="waves-effect waves-light btn orange">Send</a>
                  </div>
                </div>
              </div>

              </div>
            </div>
        </div>
      </div>
    </div>
</div>

</div>
