*{
    font-family: 'open sans';
}
body{
    min-height: 100vh;
}
/*img
{
  width: 100%;
  height: auto;
}*/
.event-hover:hover{
    opacity: .3;
    cursor: pointer;
}
cite{
    font-size: .7em;
}
.messagePadding{
    margin: 0;
    padding: 0;
}

.background {
    height: 100vh;
    width: auto;
    /*background: grey;*/
}

.landing-header .card {
    margin: 0;
    position: relative;
}
.card-image img {
    height: 100%;
    max-height: 600px;
}
.header-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%)
}

.header-subtext  {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%)
}
.messagesInput{
    position: absolute;
    bottom: 0;
    width: 65%;
}
